.call-notification {
    width: 100%;
    height: 20%;
}

.call-table {
    font-size: 14px;
}

.call-table td {
    padding-left: 20px;
    padding-right: 20px;
}

.call-handle-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    margin: 20px;
}

.accept-call-now {
    border-radius: 5px;
    background-color: #5cb85c;
    color: #FFFFFF;
}

.accept-call-now:hover {
    border-width: 2px;
    border-color: #5cb85c;
    background-color: #FFFFFF;
    color: #5cb85c;
}

.accept-call-later {
    border-radius: 5px;
    background-color: #f52020;
    color: #FFFFFF;
}

.accept-call-later:hover {
    border-width: 2px;
    border-color: #f52020;
    background-color: #FFFFFF;
    color: #f52020;
}

