.consult-page-container {
    display: flex;
    flex-direction: column;
}

.upcoming-container {
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #13c5dd;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
}

.in-queue-section {
    width: 20%;
    text-align: center;
    border-color: #1D2A4D;
    border-width: 0 2px 0 0;
}

.in-queue-text {
    padding: 10px 20px 10px 20px;
    background-color: #848E9F;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
}

.next-in-queue-section {
    width: 80%;
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    justify-content: center;
}

.next-in-queue-text {
    color: #FFFFFF;
}

.next-value {
    font-weight: bolder;
}

.call-container {
    display: flex;
    flex-direction: row;
}

.video-call-section {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.video-section {
    margin: 5px;
    position: relative;
    /*width: 640px;*/
    /*height: 480px;*/
}

.large-video-call {
    border-radius: 10px;
    border-width: 2px;
    border-color: #13c5dd;
    width: 100%;
    height: 680px;
    object-fit: cover;
    background-color: #1D2A4D;
}

.large-video-call-patient {
    border-radius: 10px;
    border-width: 2px;
    border-color: #13c5dd;
    width: 100%;
    height: 750px;
    object-fit: cover;
    background-color: #1D2A4D;
}

.large-video-call-patient-doctor {
    border-radius: 10px;
    border-width: 2px;
    border-color: #13c5dd;
    width: 100%;
    height: 680px;
    object-fit: cover;
    background-color: #1D2A4D;
}

.small-video-call {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    margin: 20px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}

.activity-section {
    width: 25%;
    height: 680px;
    margin: 5px;
    border-radius: 10px;
    background-color: #13c5dd;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.activity-section-patient {
    width: 25%;
    height: 750px;
    margin: 5px;
    border-radius: 10px;
    background-color: #13c5dd;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.control-button-section {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 20px;
    position: absolute;
    bottom: 0;
}

.time-duration-section {
    width: 15%;
    text-align: center;
    margin: auto;
}

.time-duration {
    background-color: #848E9F;
    color: #1D2A4D;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.button-section {
    width: 85%;
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    padding-left: 23%;
}

.call-buttons {
    width: 60px;
    height: 60px;
    background-color: #1D2A4D;
}

.button-icon {
    width: 50px;
    height: 50px;
    margin: auto;
}

.ask-record {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    background-color: #1D2A4D;
    color: #FFFFFF;
}

.ask-record-open {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #848E9F;
}

.ask-record-table {
    width: 100%;
    text-align: center;
}

.prev-record-closed-trigger {
}

.ask-record-open-trigger {
    font-weight: bolder;
}

.next-date-section {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.next-date-submit {
    width: 30%;
    height: 25px;
    font-size: 15px;
    margin: auto !important;
}

.next-date-result {
    margin: 10px;
}

.next-date {
    width: 60%;
    color: #000000;
    padding: 0 10px 0 10px;
    float: right;
}

.diagnosis-field {
    width: 60%;
    height: 28px;
    font-size: 15px;
    color: black;
    padding: 10px;
}

.cancel-summary {
    color: red;
    font-weight: bolder;
    cursor: pointer;
}

.medicine {
    width: 35%;
    margin: 3px;
    height: 28px;
    color: black;
}

.after-before {
    width: 20%;
    margin: 3px;
    height: 28px;
    color: black;
}

.dosage{
    width: 10%;
    margin: 3px;
    height: 28px;
    color: black;
}

.dosage-section {
    margin: 5px;
}

.chat-box {
    width: 100%;
    margin-top: 10px;
    background-color: #FFFFFF;
    height: 200px;
    color: black;
    overflow: auto;
}

.chat-box-section {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    column-gap: 2%;
}

.chat-field-submit {
    width: 30%;
    height: 25px;
    font-size: 15px;
    margin: auto !important;
}

.chat-field {
    height: 28px;
}