@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

::selection {
    background: #4158d0;
    color: #fff;
}

.wrapper {
    margin: auto;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper-margin {
    margin-top: 1.5%;
    margin-bottom: 30px;
}

#wrap1{
    width: 50%;
}

.title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: #13c5dd;
}

.signup-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.signup-option-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    color: #848e9f;
    transition: all 0.3s ease;
    padding: 10px;
}

.signup-option-circle.active {
    background-color: #13c5dd;
    color: #fff;
    font-weight: bold;
    transform: scale(1.1);
}

.signup-option-circle svg {
    font-size: 20px;
}

.signup-option-circle span {
    margin-top: 5px;
    font-size: 12px;
    color: #262626;
}

form {
    padding: 10px 30px 0 30px;
}

.field {
    height: 40px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    color: black;
}

input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}

input:focus,
input:valid {
    border-color: #4158d0;
}

label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

input:focus ~ label,
input:valid ~ label {
    top: 0;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

.content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

.content .checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gen
{
    margin-left: 5px;
    font-size: 16px;
    color: #262626;
    font-family: 'Poppins', sans-serif;

}
.content input {
    width: 15px;
    height: 15px;
    background: red;
}

.content label {
    color: #262626;
    user-select: none;
    padding-left: 5px;
}

input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #13c5dd;
    transition: all 0.3s ease;
}


input[type="submit"]:active {
    transform: scale(0.95);
}

.signup-link {
    color: #262626;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 1%;
}

.pass-link a,
.signup-link a {
    color: #1d2a4d;
    text-decoration: none;
}

.pass-link a:hover,
.signup-link a:hover {
    font-weight:bold;
}

.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.fg {
    display: flex;
    column-gap: 2%;
}
.admin-cc {
    width: 100%;
    margin: auto;
}

.file-input-wrapper {
    margin-top: 15px;
}

.file-input {
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}


.selected-file {

    color: #333;
}
.cc{
    width: 80%;
    font-family: 'Poppins', sans-serif;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    font-weight:500;
}

.ver{
    position: absolute;
    top: 0;
    right: 0;
    width: 13%;
    height: 100%;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background: #13c5dd;
    border: none;

}

/*OTP field style*/
.container-otp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
}

.inputs {
    margin: 5px;
}

.input-otp {
    width: 30px;
    height: 50px;
    border: 1px solid lightgrey;
    margin: 0 5px;
    font-size: 25px;
    padding: 0;
    text-align: center;
    /*cursor: not-allowed;*/
    /*pointer-events: none;*/
}

.input-otp:focus {
    border: 3px solid lightgrey;
    outline: none;
}

.input-otp:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}

.input-otp-submit {
    width: 50px;
    height: 50px;
    padding: 0;
    text-align: center;
}

.ActiveDeactive{
    display: flex;
    column-gap: 5px;
}
/* Style for the container div */
.department-selector {
    margin: 20px;
}

/* Style for the h2 heading */
.department-selector h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Style for the select element */
.department-selector select {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

/* Style for the selected option paragraph */
.department-selector p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}
.Container{
    height: 100%;
    width: 94%;
    margin: 3%;
    border-radius: 10px;

}

.container-terminate {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

.RecordContainer{
    height: 50%;
    width: 100%;
    background: #13C5DD;
    display: flex;
    gap: 4px;
    border-radius: 10px;
}

.record-right-terminate {
    width: 100%;
    height: 840px;
    overflow-y: auto;
    padding-top: 5px;
}

.recordRight{
    width: 100%;
    height: 60vh;
    background: #848E9F;
    overflow-y: auto;
    padding-top: 5px;
}
.searchs {
    width: 30%;
    padding: 5px 10px;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 20px;
    color: black;
}
.searchall{
    display: flex;
    flex-direction: row-reverse;
}

.adminRecordTable {
    width: 100%;
    border: none;
    margin-top: 10px;
    border-spacing: 15px;
    color: black;
    text-align: center;
}

.admin-record-table-terminate {
    width: 100%;
    border: none;
    margin-top: 10px;
    border-spacing: 15px;
    color: black;
    text-align: center;
}

.adminRecordTable th, .adminRecordTable td {
    padding: 10px;
    border-collapse: collapse;
}

.adminRecordTable th {
    background-color: #ffffff;
    font-weight: bold;
    border-collapse: collapse;
}

.adminRecordTable td {
    color: #ffffff;
}

.admin-record-table-terminate th, .admin-record-table-terminate td {
    padding: 10px;
    border-collapse: collapse;
}

.admin-record-table-terminate th {
    background-color: #13c5dd;
    font-weight: bold;
    border-collapse: collapse;
    color: #FFFFFF;
}

/*.adminRecordTable  {*/
/*    background-color: #848E9F;*/
/*}*/

.recordRight::-webkit-scrollbar {
    width: 10px;
}


.recordRight::-webkit-scrollbar-track {
    background: #ffffff;
}


.recordRight::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}


.recordRight::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
.searchall {
    position: relative;
}



.searchall i {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: #848E9F;
    padding-top: 5px;
}

th {
    position: relative;
}

th i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #ffffff;
}

th i:hover {
    color: #ffffff;
}

.coll{
    display: flex;
    background:#13c5dd ;
    border:none;
    gap: 300px;
    padding: 5px;
    font-weight: bold;
    margin-top: 4px;
}
.download-btn {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.collapsed-row .coll button:hover {
    background-color: #0056b3;
}
.adminRecordTable tbody tr:hover {
    background-color: #1D2A4D;
}

.collapsed-td {
    padding: 0 !important;
}

.admin-welcome {
    display: flex;
    flex-direction: row;
}

.admin-welcome-action {
    margin: 10px;
    width: 70%;
    height: 900px;
    border-radius: 25px 25px 10px 10px;
    box-shadow: 0 0 5px 0 #ababab;
}

.admin-welcome-hospital {
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #ababab;
}

.admin-hospital-detail-table {
    width: 100%;
    margin-bottom: 20px;
}

.admin-hospital-detail-table td {
    padding: 10px;
    margin: 20px;
    border-width: thin;
}

.admin-hospital-detail-table td:first-child {
    font-weight: bold;
    color: grey;
    width: 40%;
}

.admin-ask-record-open {
    margin: 10px;
    padding: 10px;
    border-width: 1px;
    border-color: #1D2A4D;
    border-radius: 5px;
    text-align: center;
    color: #000000;
}

.admin-ask-record {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    background-color: #13c5dd;
    color: #1D2A4D;
}

.admin-specialization-label {
    width: 40%;
    padding-left: 2px;
    float: left;
}
.admin-spec-field {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.admin-specialsel {
    width: 60%;
}

.admin-appoint {
    width: 15%;
    height: 40px;
    font-size: 14px !important;
    border-radius: 5px;
}

#admin-activate-button {
    border-radius: 5px;
    width: 50%;
    margin: auto;
}

.adminInactive {
    background-color: #39c239;
    color: #FFFFFF;
}

.adminActive {
    background-color: #b95050;
    color: #FFFFFF;
}

.checkbox-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.checkbox-item {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.checkbox-item input[type="checkbox"] {
    width: 40%;
}

.checkbox-item span {
    width: 60%;
}

.admin-tab-header {
    display: flex;
    flex-direction: row;
    height: 38px;
    padding-left: 0;
    margin-bottom: 0;
    background-color: #1D2A4D;
    border-radius: 50px;
    cursor: pointer;
}

.admin-tab-panel-items {
    padding-top: 0;
}

.admin-tab-header-items {
    width: 25%;
    margin: 2px;
    text-align: center;
    font-size: 16px;
    padding-top: 3px;
    font-weight: bold;
    color: #FFFFFF;
}

.admin-selected-tab {
    margin: 2px;
    border-radius: 50px;
    padding-top: 3px;
    background-color: #FFFFFF;
    color: #1D2A4D;
}

.specialization-select {
    box-shadow: none;
}

.specialization-select {
    box-shadow: none;
}