.form-control{
    border-radius: 0;
}

.form-group{
    padding: 10px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }

.ftco-section{
    margin: 50px;
}

.text-xx {
    color: white;


}